body {
    margin: 0;
    font-family: Western, sans-serif;
    background: #F5F5DC;
    color: #654321;
}
h1, h2 {
    font-family: Gaucho, serif;
    color: #8B4513;
}
a {
    color: #FFD700;
}
section {
    padding: 3rem;
}